<!DOCTYPE html>
<html>

<head>
  <title>About</title>
   <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>The website is created by Ayush Agarwal. It is a basic NodeJS weather project which uses mapbox and weatherstack API's to get the weather data.</p>
    <img class="portrait" src="/img/2020target.PNG">
  </div>

  {{>footer}}
</body>

</html>